@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
body {
	margin: 0;
	height: 100%;
	font-family: ‘Noto Sans KR’, sans-serif;
}
/* 화면 전체 랩 */
.wrapper{
	width: 100%;
	padding-bottom: 120px;
}

/* content 랩 */
.wrap{
	padding-top: 36px;
	width : 500px;
	margin: auto;
}

/* 페이지 로고 */
.logo_wrap{
	text-align: center;	
	margin: 50px 0;
}
.logo_wrap>span{
	font-size : 50px;
	font-weight: 900;
}
.delete_name {
	width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}

.delete_box {
	border: 1px solid black;
	height:35px;
	padding: 5px 14px;	
	display: block;
	width : 240px;
	margin : auto;	
}
/* 버튼 영역*/
.btn_form {
	margin-top: 20px;
	text-align: center;
}
.btn_delete_1 {
	width: 120px;
    height: 56px;
    background-color:green;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    outline: none;
}
.btn_delete_2 {
	width: 120px;
    height: 56px;
    background-color:white;
    font-size: 16px;
    color:green;
    border-radius: 5px;
    outline: none;
}
