@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
body {
	margin: 0;
	height: 100%;
	font-family: ‘Noto Sans KR’, sans-serif;
}
/* 페이지 제목 */
.tit {
	padding-top: 64px;
    font-weight: 900;
    font-size: 30px;
    color: #333;
    line-height: 40px;
    text-align: center;
    letter-spacing: -.5px;
}
.info_name{
	width: 159px;
    padding: 20px 0 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}
.info_box{
	border: 1px solid black;
	width: 332px;
	height:25px;
	padding: 10px 14px;
}
/* 버튼 영역 */
.btn_update {
	
}
.btn_delete {
	
}
.btn_home {
	
}
