@charset "UTF-8";

*{
	margin: 0;
	padding:0;
}

body {
	margin: 0;
	height: 100%;
	font-family: ‘Noto Sans KR’, sans-serif;
}
/* 페이지 제목 */

.tit_wrap {
	text-align: center;	
	margin-top: 80px;
	margin-bottom: 50px;
}

.tit {
	font-size : 17px;
	font-weight: 450;
}

/* 화면 전체 렙 */
.wrapper{
	text-align: center;
    padding-bottom: 120px;
	max-width: 100%;	
}

.wrap{
	text-align: center;
	width : 800px;
	margin: auto;
}

/* 장바구니 */
.isBasket {
	border: 0;
	margin-left: auto;
	margin-right: auto;
	/* border-bottom: 1px solid grey; */
	font-size: 15px;
	/* border-spacing: 0.3em; */
}

td {
	width: 200px;
  	height: 1.5em;
 	/* background: #d2d2d2; */
 	text-align: center;
 	vertical-align: middle;
}

.cart_info_td {
	text-align: right;
	font-size:15px;
	border-spacing: 1em 0.5em;
  	padding: 0 2em 1em 0;
}

.qty_number {
	BORDER-BOTTOM: black 1.4px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
}

.btn_cart_update, .btn_prod_list {
	background-color:white;
    border: none;
    cursor: pointer;
}

/* 112line */
.listResult > .sum {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: 450;
}

.orderOpen {
	margin-top: 40px;
	margin-bottom: 30px;
}

/* 128 line */
.inputArea {
	width: 100%;
    margin-top: 30px;
}

.info_label_name {
	width: 159px;
    padding: 25px;
    margin: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}
.input_box{
	BORDER-BOTTOM: black 1.4px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	height: 29px;
	padding: 0px 14px;	
	display: block;
	width : 250px;
	margin : auto;		
	text-align: center;
}

.input_button_area {
	margin-top: 40px;
}

.btn_deli_info {
	background-color:white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 20px;
}

.order_btn, .cancel_btn {
	background-color:white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
